.widget-header {
    display: flex;
    justify-content: space-between;
    background: $blue;
    color: $off-white;
    padding: $m-size; 
}

.widget__message {
    color: $off-white;
    margin: 0;
    padding: $l-size;
    text-align: center;
    border-bottom: .3rem solid darken($blue, 10%)
}

.widget-header__title {
    margin: 0;
}